// 颜色
$accentColor = #2194F2
// 布局
$sidebarWidth = 12rem

.theme-default-content:not(.custom) {
  max-width: none
  margin 0
}

.theme-default-content code {
  display: inline-block;
  margin 3px 1px;
  line-height: 18px;
}

td {
  font-size 15px
  color #606266
}

.sidebar-heading {
  font-size 1rem
}
.sidebar-group a.sidebar-link {
  font-size 0.9rem
}
