$accentColor #2194F2

.theme-default-content:not(.custom) {
  max-width: none
  margin 0
}

.theme-default-content code {
  display: inline-block;
  margin 3px 1px;
  line-height: 18px;
}

.sidebar {
  width: 12rem;
}
.page {
  padding-left: 12rem;
}
td {
  font-size 15px
  color #606266
}
