.theme-default-content:not(.custom) {
  max-width: calc(100% - 450px)
  margin 0
}

.theme-default-content code {
  display: inline-block;
  margin 3px 1px;
  line-height: 18px;
}

.sidebar {
  width: 12rem;
}
.page {
  padding-left: 12rem;
}
